# config.yaml в папке с docker-compose агента

# Установите уникальный ID ноды
node_id: "node-us-4"

# ВНИМАНИЕ! При смене пути файла лога необходимо прокинуть новый путь в docker compose!
log_path: "/var/log/remnanode/access.log"

nats:
  # IP сервера, на котором запущен главный сервис. Порт NATS по умолчанию - 4222
  url: "1.2.3.4:4222"

  # Установите тот же токен, что вы ставили на главном сервисе
  token: "CHANGE_ME"

debug:
  # Возможность отключения блокировок на агенте
  disable_block: false
