# config.yaml в папке с docker-compose главного сервера
nats:
  url: ""
  # Установите одинаковый токен в конфиге и docker compose, а так же на всех нодах
  token: "CHANGE_ME"
  workers_count: 3

redis:
  addr: "redis:6379"
  password: ""
  db: 0

service:
  ip_limit: 2
  ban_duration: "30s" # e.g. 30s 3h 1d

telegram:
  enabled: true
  bot_token: "..."
  chat_id: "..."

remnawave:
  enabled: true
  url: "https://panel.example.xyz"
  api_key: "eyJhbGciOiJIUzI1Ni..."

  egames_cookies:
    enabled: true
    name: ""
    value: ""
